
<div class="bord">

  <h3 >To Do:</h3>

  <div class="list-bar">

    <div *ngFor="let todo of toDoList">

      <div class='row'>

        <div  class='column-todo'>

          <div [ngClass]="getColor(todo)">
            <app-item [todoData]="todo" ></app-item>
          </div>
            
        </div>

        <div class='column-button'>
          <button (click)="complete(todo)"> <i class="fas fa-check-double"></i> </button>      
        </div>

        <div class='column-button'>
          <button (click)="remove(todo.id)" ><i class="fas fa-trash-alt"></i></button>   
        </div>
         
      </div>
  
    </div>

  </div>

  <div>
    <input #todoInput [(ngModel)]="todoInputNg" class="todoInput"  name="todoAdd">
  </div>

  <div>
    <p style="color: crimson;"> {{errorMessage}}</p>
  </div>

  <div>
    <button class="saveButton" (click)="addItem(todoInput.value)" >SAVE ITEM</button>
  </div>


</div>

