.bord {
    border: 2px solid linen;
    padding: 10px;
    border-radius: 25px;
    margin: 20px 50px ;
    height: 500px;
    border-style: groove;
  }

  .list-bar{
    height: 300px;
    overflow: auto;
  }

  .todoInput {
    width: 40%;
    padding: 8px;
    border: 1px solid darkslategray;
    border-radius: 4px;

  }

  .saveButton {
    background-color: whitesmoke;
    color: black;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
  }
  .saveButton:hover {
    background-color: lightcyan;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column-todo {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 10;
    height: 40px;
  }

  .column-button {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
    height: 15px;
    padding: 6px;
  }

  .complete{
    text-decoration: line-through;
    text-decoration-color: darkblue;
    font-style: italic;
  }

  .not-complete{
    font-style: normal;
    font-family:  Helvetica;
  }